<h1 style="text-align: center; margin-top: 30px; margin-bottom: 30px"> Envie d'apprendre un nouveau language ?
 </h1>
<div style="text-align: center;" class="jumbotron">
    <h3 style="color: #E95420 " class="display-3"> Grâce à THP, apprenez la langue du code</h3> 
    <br>
        <
        <hr class="my-4">
            <p style="text-align: center"> The Hacking Project est une formation en 3 mois de coding back-end/front-end. Elle permet d'écquérir les bases nécessaires au métier de developper web.
                <br>
                <br>
                <br>
                <strong> THP, c'est : </strong>
                <br>
                    <li>Des groupes de 6 élèves qui travaillent ensemble à travers toute la France</li>
                    <li>Une communauté soudée qui travaille sous pression et sous délais restreints</li>
                    <li>Un apprentissage intensif couvrant tous les aspects du developpement web </li>
                    <li> Des projets réalistes à coder toutes les semaines (pourquoi pas le votre ?) </li>
                <br>
                <br>
                <br>
                <h4 style="color: #E95420"> <strong>Vous avez une idée d'application web mais ne savez pas la développer ?</strong></h4>
                <br>
            </p>
            <div class="call-to-action">
                        <form method='post' action='users/subscribe' >
                            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                            <div id="form-group"></div>
                          
                            <label for='email'></label></br>
                            <input type="text" value="" name="name" class="form-control" placeholder="Your name here" required >
                            <input type="email" value="" name="email" class="form-control" placeholder="Your email here" required ></br>
                            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" class="btn btn-default btn-xl wow tada"></div>
                        </form>
                    </div>
            </div>
        </form>
    </div>
</div>
<br>
<br>
<h4 style="text-align: center; color: #E95420"> Vous pourrez retrouver ci-dessous les vidéos de présentations des projets finaux THP :</h4>
<br>
<div style="display: flex; justify-content: space-around;">
    <iframe width="420" height="315"
    src="https://www.youtube.com/embed/PD0BXdjRKHE">
    </iframe>
    <iframe width="420" height="315"
    src="https://www.youtube.com/embed/cReUFYg3vNQ">
    </iframe>
</div>
<br>
<br>
<br>
<h4 style="text-align: center; color: #E95420"> Exemples de projets que nous réalisons durant la formation :</h4>
<br>
<table style="color: black; margin: auto; table-size: 150%" class="table-primary">
  <thead>
    <tr>
      <th scope="col">Type de projet</th>
      <th scope="col">Objectif</th>
      <th scope="col">Code</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-light">
      <th scope="row">Scrapping</th>
      <td>Coder un programme de scrapping d'adresses mail</td>
      <td>Ruby</td>
    </tr>
    <tr class="table-light">
      <th scope="row">Bot Twitter</th>
      <td>Growth Hacking, envoyer/retrouver des tweets ciblés</td>
      <td>Ruby</td>
    </tr>
    <tr class="table-light">
      <th scope="row">Eventbrite Like</th>
      <td>Plateforme d'organisation d'événements et de paiement en ligne</td>
      <td>Ruby, Rails, SQL</td>
    </tr>
     <tr class="table-light">
      <th scope="row">Google Like</th>
      <td>Recréer la landing page fonctionnelle de Google</td>
      <td>HTML, CSS, Javascript</td>
    </tr>
  </tbody>
</table> 